.content {
  margin-bottom: 10px;
  .contentHead {
    margin-bottom: 20px;
  }
  .contentBody {}
  .contentFoot {}
}
.report {
  .reportHead {
    margin-bottom: 20px;
    @include box-shadow(0 1px 2px rgba(0,0,0,.3));
    @include border-radius(5px);
    background-color: #FFF;
  }
  .reportBody {}
  .reportFoot {
    height: 100px;
  }
}
.page {
  .pageHead {}
  .pageBody {}
  .pageFoot {}
}

// .home

#bgimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 1024px;
  min-height: 100%;
  z-index: -1;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}
.visual {
  position: absolute;
  display: block;
  margin-left: -400px;
  top: 150px;
  left: 50%;
  width: 800px;
  z-index: 7;
  .headline {
    margin-bottom: 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
  }
  .leadline {
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
  }
  .share {
    position: absolute;
    top: 105px;
    height: 20px;
    .twitter-follow-button {
      overflow: hidden;
      float: left;
      margin-right: 5px;
      width: 140px;
      height: 20px;
    }
    .fb-like {
      float: left;
      width: 150px;
    }
  }
  .visualButton {
    position: absolute;
    top: 90px;
    right: 30px;
  }
}

// .report

.boxitem {
  margin-bottom: 24px;
  background: #FFF;
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));
  @include border-radius(5px);
  a {
    text-decoration: none;
  }
}
.boxitem-background {
  width: 312px;
  height: 207px;
  @include border-radius(5px);
}
.boxitem-gradient {
  position: relative;
  width: 312px;
  height: 207px;
  @include border-radius(5px);
  background-image: url(static_url('img/content/boxitem-gradient.png'));
}
.boxitem-title,
.boxitem span {
  color: #FFF;
}
.boxitem-title {
  padding: 7px 0 0 7px;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  font-size: 18px;
}
.boxitem-meta {
  position: absolute;
  top: 7px;
  right: 7px;
  span {
    text-align: right;
    font-size: 12px;
  }
}

.coverPhoto {
  overflow: hidden;
  width: 984px;
  height: 420px;
  @include border-radius(5px);
  .noPhoto & {
    position: relative;
    height: 200px;
    @include box-shadow(0 1px 0 rgba(0,0,0,.2));
    background-color: #DDD;
    .button {
      position: absolute;
      margin-left: -176px;
      top: 78px;
      left: 50%;
      width: 280px;
      text-align: center;
    }
  }
  .image {
    width: 984px;
    height: 420px;
    background-position: center;
    @include background-size();
  }
}
.reportInfo {
  padding: 10px;
  .thumb {
    width: 50px;
    height: 50px;
    background-position: center;
    @include background-size();
    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  input {
    width: 100%;
  }
  .fieldLeftBox {
    float: left;
    width: 300px;
  }
  .fieldRightBox {
    float: right;
    width: 630px;
  }
  .field {
    textarea {
      width: 97%;
      height: 100px;
    }
  }
  .eventNameField {
    padding: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
  }
}
.editInPlace-active {

}
.inplace_form {
  display: inline-block;
  padding: 5px;
  height: 18px;
  line-height: 18px;
  border: solid 1px #CCC;
  font-size: 13px;
}
.uploadReportPhoto {
  margin: 10px auto;
}