.content {
  margin-bottom: 10px;
  .contentHead {
    margin-bottom: 20px;
  }
  .contentBody {}
  .contentFoot {}
}

// .home

#bgimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 1024px;
  min-height: 100%;
  z-index: -1;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @include background-size();
  }
}
.visual {
  position: absolute;
  display: block;
  margin-left: -400px;
  top: 150px;
  left: 50%;
  width: 800px;
  z-index: 7;
  .headline,
  .leadline {
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-weight: bold;
    color: #FFF;
  }
  .headline {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .leadline {
    font-size: 15px;
  }
  .share {
    position: absolute;
    top: 105px;
    height: 20px;
    .twitter-follow-button {
      overflow: hidden;
      float: left;
      margin-right: 5px;
      width: 140px;
      height: 20px;
    }
    .fb-like {
      float: left;
      width: 150px;
    }
  }
  .visualButton {
    position: absolute;
    top: 90px;
    right: 30px;
  }
}

// .report

.listItem {
  margin-bottom: 24px;
  background: #FFF;
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));
  @include border-radius(5px);
  a {
    text-decoration: none;
  }
  .listItemBG {
    position: relative;
    width: 312px;
    height: 207px;
    @include border-radius(5px);
  }
  header {
    position: absolute;
    padding: 5px 7px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    -webkit-border-bottom-left-radius: 5px;
       -moz-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
       -moz-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
    h1 {
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
      font-size: 13px;
      font-weight: bold;
      color: #FFF;
    }
  }
}

// coverphoto

.coverPhoto {
  overflow: hidden;
  margin: 0 12px 18px;
  width: 984px;
  @include border-radius(5px);
  .noPhoto & {
    height: 200px;
    @include box-shadow(0 1px 0 rgba(0,0,0,.2));
    background-color: #DDD;
    .button {
      position: absolute;
      margin-left: -176px;
      top: 78px;
      left: 50%;
      width: 280px;
      text-align: center;
    }
  }
  .image {
    position: relative;
    width: 984px;
    height: 420px;
    background-color: #000;
    background-position: center;
    @include background-size();
    @include border-radius(5px);
  }
  .reportHeadline {
    position: absolute;
    padding: 5px 7px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    header {
      margin-bottom: 3px;
      @include clearfix();
    }
    h1,h2 {
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
    }
    h1 {
      float: left;
    }
    h2 {
      float: right;
    }
  }
  .description {
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    color: #FFF;
  }
}

.reportMeta {
  width: 984px;
  background: #F1F1F1;
  -webkit-border-bottom-left-radius: 5px;
     -moz-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
     -moz-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  @include clearfix();
  .metaOrganizer,
  .metaPhotos,
  .metaWent,
  .metaHashtag {
    float: left;
    padding: 10px 0;
    width: 246px;
    background-image: -webkit-linear-gradient(top,#262626,#060606);
    background-image:    -moz-linear-gradient(top,#262626,#060606);
    background-image:     -ms-linear-gradient(top,#262626,#060606);
    background-image:      -o-linear-gradient(top,#262626,#060606);
    background-image:         linear-gradient(top,#262626,#060606);
    p {
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      font-size: 21px;
      font-weight: bold;
      color: #FFF;
    }
  }
}
.reportInfo {
  padding: 10px;
  .thumb {
    width: 50px;
    height: 50px;
    background-position: center;
    @include background-size();
    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}

.reportList {
  .eventName {
    margin-bottom: 10px;
    h2 {
      font-size: 18px;
      font-weight: bold;
      a {
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        color: #222;
      }
    }
  }
  .eventMeta {
    margin-bottom: 10px;
    li {
      padding: 2px 0 2px 27px;
      height: 20px;
      line-height: 20px;
      background-position: left center;
      background-repeat: no-repeat;
      font-size: 12px;
      &.date {
        background-image: url('../img/icon/iconDate.png');
      }
      &.photoCount {
        background-image: url('../img/icon/iconPhoto.png');
      }
      &.wentCount {
        background-image: url('../img/icon/iconWent.png');
      }
    }
  }
  .eventBody {
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    font-size: 12px;
  }
}
.reportComment {
  .profile {
    margin-bottom: 10px;
    padding-bottom: 10px;
    @include clearfix();
  }
  .avatar {
    float: left;
    width: 40px;
    height: 40px;
  }
  .username {
    float: right;
    padding: 13px 6px;
    width: 180px;
    line-height: 14px;
    font-weight: bold;
    a {
      color: #003C69;
    }
  }
  .comment {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px;
    border-color: #EEE #DDD #CCC;
    @include box-shadow(0 1px 10px rgba(0,0,0,.15));
    background-image: -webkit-linear-gradient(top,#F1F1F1,#E1E1E1);
    background-image:    -moz-linear-gradient(top,#F1F1F1,#E1E1E1);
    background-image:     -ms-linear-gradient(top,#F1F1F1,#E1E1E1);
    background-image:      -o-linear-gradient(top,#F1F1F1,#E1E1E1);
    background-image:         linear-gradient(top,#F1F1F1,#E1E1E1);
    @include border-radius(5px);
    z-index: 6;
    p {
      text-shadow: 0 -1px -1px #FFF;
      font-size: 13px;
      color: #222;
    }
    &:after {
      position: absolute;
      content: "";
      top: -32px;
      left: 6px;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #F1F1F1;
    }
  }
}
.reportList,
.reportComment {
  overflow: hidden;
  margin-bottom: 20px;
  height: 320px;
  background: #FFF;
  @include box-shadow(0 1px 2px rgba(0,0,0,.3));
  @include border-radius(5px);
  .image {
    float: left;
    width: 480px;
    height: 320px;
    .pin {
      width: 480px;
      height: 320px;
      @include background-size();
      @include border-radius(5px);
    }
    .primary,
    .secondary {
      height: 320px;
      background-position: center;
    }
    .primary {
      float: left;
      width: 320px;
      @include background-size();
    }
    .secondary {
      float: right;
      width: 160px;
      span {
        display: block;
        width: 160px;
        height: 160px;
        &:first-child {
          -webkit-border-top-right-radius: 5px;
             -moz-border-top-right-radius: 5px;
                  border-top-right-radius: 5px;
        }
        &:last-child {
          -webkit-border-bottom-right-radius: 5px;
             -moz-border-bottom-right-radius: 5px;
                  border-bottom-right-radius: 5px;
        }
      }
    }
  }
  .info {
    float: right;
    padding: 10px;
    width: 232px;
  }
}
.reportForm {
  padding: 10px;
  input {
    width: 100%;
  }
  .fieldLeftBox {
    float: left;
    width: 300px;
  }
  .fieldRightBox {
    float: right;
    width: 630px;
  }
  .field {
    textarea {
      width: 97%;
      height: 100px;
    }
  }
  .eventNameField {
    padding: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
  }
}

.uploadReportPhoto {
  margin: 10px auto;
}