.logo {
  float: left;
  display: block;
  width: 240px;
  height: 45px;
  a {
    display: block;
    overflow: hidden;
    width: 240px;
    height: 45px;
    background: url(static_url('img/global/logo.png')) no-repeat 0 0;
    text-indent: -1000em;
  }
}
.usernav {
  padding: 3px 7px;
  @include clearfix();
  & > a {
    padding: 0 !important;
    height: 39px  !important;
  }
  .userimage {
    float: left;
    overflow: hidden;
    display: block;
    img {
      display: block;
    }
  }
  .username {
    float: right;
    padding: 0 3px 0 8px;
    line-height: 36px;
    font-size: 15px;
    color: #FFF;
  }
}
