.navbar {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: #000 url(static_url('img/global/navbar.png')) repeat-x 0 0;
  z-index: 90;
}
.nav {
  position: relative;
  .navlist {
    float: left;
    display: inline-block;
    height: 45px;
    border-left: solid 1px #222;
    background: url(static_url('img/global/navbar.png')) repeat-x 0 -45px;
    & > li {
      float: left;
      display: block;
      margin-right: 1px;
      background: url(static_url('img/global/navbar.png')) 0 0 repeat-x;
      & > a {
        display: block;
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
        text: {
          decoration: none;
          shadow: 0 -1px 1px rgba(0,0,0,.8);
        };
        color: #FFF;
        &:hover {
          background-position: -90px;
        }
      }
      ul {
        position: absolute;
        display: none;
        padding: 5px 0 0;
        top: 45px;
        right: 0;
        width: 120px;
        background: #353535;
        border: 1px solid #424242;
        li {
          display: block;
          border-bottom: solid 1px #444;
          a {
            display: block;
            padding: 5px 15px;
            line-height: 20px;
            text-decoration: none;
            color: #dedede;
            &:hover {
              background-color: #000;
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:hover {
        & > a {
          background-position: 0 -135px;
        }
        ul {
          display: block;
        }
      }
    }
    &.pull {
      float: right;
    }
  }
}
