.navbar {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: #000 url(static_url('img/navbar.png')) repeat-x 0 0;
  z-index: 90;
  .logo {
    display: block;
    width: 240px;
    height: 45px;
    a {
      display: block;
      overflow: hidden;
      width: 240px;
      height: 45px;
      background: url(static_url('img/logo.png')) no-repeat 0 0;
      text-indent: -1000em;
    }
  }
  .nav {
    position: relative;
    .navlist {
      float: left;
      display: inline-block;
      height: 45px;
      border-left: solid 1px #222;
      background: url(static_url('img/navbar.png')) repeat-x 0 -45px;
      & > li {
        float: left;
      }
    }
  }
}