@charset "utf-8";

.sidebar {
  
}
.widget {
  margin-bottom: 10px;
  background: #FFF;
  @include box-shadow(0 1px 2px rgba(0,0,0,.3));
  @include border-radius(5px);
  .widgetHead {
    padding: .5em .5em .3em;
    border-bottom: solid 1px #F1F1F1;
  }
  .widgetBody {
    padding: .5em;
  }
  .widgetFoot {

  }
}
.wentList {
  @include clearfix();
  li {
    float: left;
    margin: 0 2px 2px 0;
  }
}
// TODO: _content.scssの.reportInfoの.thumbと統合
.widget {
  .thumb {
    width: 120px;
    height: 120px;
    background-position: center;
    @include background-size();
    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}
