.visual {
  position: fixed !important;
  display: none;
  .item {
    .panel {
      position: absolute;
      padding: 20px;
      bottom: 50px;
      width: 400px;
      background: rgba(0,0,0,.7);
    }
  }
}
.mc-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    }
.container {
  .inner {

  }
}