.DS_Store

*~
*.diff
*.log

*.sass-cache
*.sublime-project
*.sublime-workspace
*.sw[op]
*.vi

.project
.settings/*

Thumbs.db

app/Config/core.php
app/Config/database.php
app/Config/email.php
app/tmp/

node_modules
