@charset "utf-8";

// =======================================================
// _mixins.scss
//
// Copyright 2012 ReportShair
//
// @author  Tsuyoshi Tokuda
//
// 使いまわすスタイルを定義
// =======================================================

@mixin inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@mixin background-image($direction: "horizontal", $baseColor: #444, $startColor: #555, $endColor: #333) {
  @if $direction == "horizontal" {
    background-color: $baseColor;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image:    -moz-linear-gradient(left, $startColor, $endColor);
    background-image:     -ms-linear-gradient(left, $startColor, $endColor);
    background-image:      -o-linear-gradient(left, $startColor, $endColor);
    background-image:         linear-gradient(to right, $startColor, $endColor);
    background-repeat: repeat-x;
  }
  @elseif $direction == "vertical" {
    background-color: $baseColor;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(to bottom, $startColor, $endColor);
    background-repeat: repeat-x;
  }
}

@mixin background-size($property) {
  -webkit-background-size: $property;
     -moz-background-size: $property;
       -o-background-size: $property;
          background-size: $property;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($property) {
  -webkit-transition: border-color 250ms ease-in 0;
     -moz-transition: border-color 250ms ease-in 0;
       -o-transition: border-color 250ms ease-in 0;
          transition: border-color 250ms ease-in 0;
}
