@charset "utf-8";

// =======================================================
// _reset.scss
//
// Copyright 2012 ReportShair
//
// @author  Tsuyoshi Tokuda
//
// HTMLのデフォルトスタイルをリセットする。
// formやtableは別で初期化する
// =======================================================

$html-elements: "html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,b,i,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td";
$html5-elements: "article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video";

#{$html-elements},
#{$html5-elements} {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

// Corrects block display not defined in IE6/7/8/9 & FF3
#{$html5-elements} {
  display: block;
}
// Corrects inline-block not defined in IE6/7/8 and FF3
audio,video,canvas {
  @include inline-block;
}
audio:not([controls]) {
  display: none;
}
// Ensures content is hidden from all presentations, including screenreaders
[hidden] {
  display: none;
}