#overlayBG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 110;
}
#overlayLoading {
  position: fixed;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: #000; // background: url('../img/overlay/loading.gif') no-repeat center;
  z-index: 111;
}
#overlayPopup {
  position: fixed;
  margin-left: -480px;
  top: 100px;
  left: 50%;
  width: 960px;
  height: 70%;
  background: #FFF;
  @include box-shadow(0 3px 10px rgba(0,0,0,.5));
  @include border-radius(5px);
  z-index: 112;
}
.overlayContent {
  z-index: 113;
  .overlayHead {
    padding: 0 28px 0 7px;
    height: 35px;
    border-bottom: solid 1px #EEE;
    h2 {
      margin: 0;
      line-height: 35px;
      font-weight: bold;
    }
  }
  .overlayBody {
    overflow: auto;
  }
  .overlayFoot {
    overflow: hidden;
    padding: 7px;
    height: 40px;
    background-color: #F1F1F1;
    border-top: solid 1px #DDD;
    -webkit-border-bottom-left-radius: 5px;
       -moz-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
       -moz-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
  }
}
.fbpageList {
  margin: 0;
  padding-left: 0;
  li {
    list-style: none;
    border-top: solid 1px #DDD;
    span {
      display: block;
      padding: 5px 7px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background-color: #222;
        color: #FFF;
      }
    }
  }
}
.overlayClose {
  position: absolute;
  display: block;
  top: 7px;
  right: 7px;
  width: 21px;
  height: 21px;
  background: url('/static/img/overlay/close.png') 0 0 no-repeat;
  cursor: pointer;
  z-index: 114;
}