#overlayBG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 110;
  &.typeImage {
    background: rgba(0,0,0,.8);
  }
}
#overlayLoading {
  position: fixed;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: url('../img/overlay/loading.gif') no-repeat center;
  z-index: 111;
}
#overlayContainer {
  position: fixed;
  overflow: hidden;
  margin-left: -480px;
  top: 90px;
  left: 50%;
  width: 960px;
  height: 75%;
  max-height: 75%;
  background: #FFF;
  @include box-shadow(0 3px 10px rgba(0,0,0,.5));
  @include border-radius(5px);
  z-index: 112;
  .selectDialog & {
    margin-left: -240px;
    top: 180px;
    width: 480px;
    height: 320px;
  }
  .createDialog & {
    height: 520px;
  }
}
#overlayHead {
  height: 36px;
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#CACACA));
  background-image: -webkit-linear-gradient(top, #EFEFEF, #CACACA);
  background-image:    -moz-linear-gradient(top, #EFEFEF, #CACACA);
  background-image:      -o-linear-gradient(top, #EFEFEF, #CACACA);
  background-image:         linear-gradient(to top, #EFEFEF, #CACACA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#CACACA');
  border-bottom: solid 1px #CCC;
  h1, h2 {
    padding-left: 0.5em;
    line-height: 38px;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    font-size: 16px;
    font-weight: bold;
    color: #222;
  }
}
#overlayContent {
  overflow-x: hidden;
  overflow-y: auto;
}
#overlayFoot {
  overflow: hidden;
  padding: 7px;
  height: 40px;
  background-color: #F1F1F1;
  border-top: solid 1px #DDD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#overlayPopup {
  position: fixed;
  margin-left: -480px;
  top: 100px;
  left: 50%;
  width: 960px;
  height: 70%;
  background: #FFF;
  @include box-shadow(0 3px 10px rgba(0,0,0,.5));
  @include border-radius(5px);
  z-index: 112;
}
.overlayContent {
  z-index: 113;
  .overlayHead {
    padding: 0 28px 0 7px;
    height: 35px;
    border-bottom: solid 1px #EEE;
    h2 {
      margin: 0;
      line-height: 35px;
      font-weight: bold;
    }
  }
  .overlayBody {
    overflow: auto;
  }
  .overlayFoot {
    overflow: hidden;
    padding: 7px;
    height: 40px;
    background-color: #F1F1F1;
    border-top: solid 1px #DDD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.fbpageList {
  margin: 0;
  padding-left: 0;
  li {
    list-style: none;
    border-top: solid 1px #DDD;
    span {
      display: block;
      padding: 5px 7px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background-color: #222;
        color: #FFF;
      }
    }
  }
}
.overlayClose {
  position: absolute;
  display: block;
  top: 9px;
  right: 7px;
  width: 21px;
  height: 21px;
  background: url('/static/img/overlay/close.png') 0 0 no-repeat;
  cursor: pointer;
  z-index: 114;
}
.captionForCreateReport {
  padding: 10px 16px;
  height: 100px;
  background-color: #111;
  border-bottom: solid 1px #EEE;
  @include box-shadow(inset 0 5px 10px rgba(0,0,0,0.7));
  p {
    text-align: center;
    text-shadow: 0 0 24px #549EF9;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
  }
}
.selectButtonForCreateReport {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 162px;
  @include clearfix();
  li {
    float: left;
    display: inline-block;
    width: 239px;
    text-align: center;
    a {
      display: block;
      padding-top: 122px;
      width: 239px;
      height: 40px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255,255,255,.75);
      font-size: 16px;
      font-weight: bold;
      color: #222;
      &:hover {
        background-color: #DDDDDD;
        color: #000;
      }
    }
    &.newSelectButton {
      border-right: solid 1px #FFF;
      a {
        background: #F1F1F1 url('/static/img/overlay/newSelectButton.png') 0 0 no-repeat;
      }
    }
    &.fbSelectButton {
      border-left: solid 1px #E1E1E1;
      a {
        background: #F1F1F1 url('/static/img/overlay/fbSelectButton.png') 0 0 no-repeat;
      }
    }
  }
}
.fbpagesList {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    border-bottom: solid 1px #EEE;
    a {
      display: block;
      padding: .7em 1em;
      line-height: 16px;
    }
  }
}
.dialogReportBoard {
  height: 355px;
}
.dialogCoverImage {
  position: relative;
  display: block;
  width: 960px;
  height: 355px;
  .dialogCoverWrap {
    position: absolute;
    top: 20px;
    left: 54px;
    width: 851px;
    height: 315px;
    background-color: #AAA;
    &:hover {
      background-color: #BBB;
    }
  }
  #uploadCoverPhotoHandler {
    display: block;
    width: 851px;
    height: 315px;
    line-height: 315px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(255,255,255,.75);
    font-size: 36px;
    font-weight: bold;
    color: #444;
  }
}
.dialogReportInfo {
  position: relative;
  @include clearfix();
  .dialogName {
    overflow: hidden;
    float: left;
    .dialogReportThumb {
      position: absolute;
      margin-top: -130px;
      padding: 1px;
      left: 100px;
      width: 168px;
      height: 168px;
      background-color: #EEE;
      @include border-radius(3px);
      @include box-shadow(0 2px 7px rgba(0,0,0,.3));
      &:hover {
        background-color: #F1F1F1;
      }
      .dialogReportImage {
        overflow: hidden;
        display: block;
        width: 160px;
        height: 160px;
        background: rgba(0,0,0,.3);
        border: solid 4px #FFF;
        @include border-radius(3px);
      }
      #uploadIconPhotoHandler {
        display: block;
        width: 160px;
        height: 160px;
        line-height: 160px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.75);
        font-size: 10px;
        color: #444;
      }
    }
    .dialogReportName {
      margin: 0 0 0 290px;
      font-size: 20px;
    }
  }
}
body.dialog {
  background-color: #FFF;
  background-image: none;
}
#dialogIframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  @include border-radius(5px);
}