.toolbar {
  margin-bottom: 20px;
  background-color: #EEE;
  z-index: 5;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #222;
    @include box-shadow(0 1px 10px rgba(0,0,0,.2));
    dl {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
      dt {
        color: #FFF;
      }
    }
  }
  dl {
    @include clearfix();
    dt {
      float: left;
      padding-right: 29px;
      width: 240px;
      line-height: 34px;
    }
    dd {
      float: left;
      padding-left: 0;
      a {
        display: inline-block;
        padding: 5px 12px;
        line-height: 24px;
        vertical-align: middle;
        background-color: #CCC;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: #222;
        cursor: pointer;
        &:hover {
          background-color: #222;
          color: #FFF;
        }
      }
    }
  }
}
