#maximage {
  position: fixed !important;
  display: none;
  z-index: 2;
  .mc-image {
    width: 100%;
    height: 100%;
    background: {
      position: center;
      repeat: no-repeat;
    };
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}
.headline {
  position: absolute;
  display: block;
  margin-left: -400px;
  top: 90px;
  left: 50%;
  z-index: 7;
  img {
    display: block;
  }
  .button {
    position: absolute;
    padding: 12px 36px;
    top: 90px;
    right: 20px;
    border-color: #CCEE85 #CCEE85 #348E0A;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    background-color: #0074CC;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9DDE15), to(#3B9B0F));
    background-image: -webkit-linear-gradient(top, #9DDE15, #3B9B0F);
    background-image:    -moz-linear-gradient(top, #9DDE15, #3B9B0F);
    background-image:     -ms-linear-gradient(top, #9DDE15, #3B9B0F);
    background-image:      -o-linear-gradient(top, #9DDE15, #3B9B0F);
    background-image:         linear-gradient(top, #9DDE15, #3B9B0F);
    background-repeat: repeat-x;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(59,155,15,.5);
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
  }
}
.container {
  position: relative;
  margin-bottom: 24px;
  padding-top: 77px;
  z-index: 5;
  .home & {
    padding-top: 320px;
  }
  .inner {
    padding-top: 24px;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  }
}
.content {
  .contentHead {
    margin-bottom: 12px;
  }
  .contentBody {
    margin-bottom: 12px;
  }
}
.box {
  margin-bottom: 24px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
          box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  .image {
    width: 312px;
    height: 207px;
    img {
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
    }
  }
  .meta {
    padding: 7px;
    a {
      text-decoration: none;
      color: #3B9B0F;
    }
  }
}
.reportHead {
  margin-bottom: 20px;
  width: 984px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
          box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.coverPhoto {
  overflow: hidden;
  width: 984px;
  height: 420px;
  background-color: #EEE;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  .no-photo & {
    position: relative;
    height: 200px;
    .uploadCoverPhoto {
      position: relative;
      margin-left: -120px;
      padding: 5px 15px;
      top: 80px;
      left: 50%;
      line-height: 1.6;
      background-image: -webkit-linear-gradient(top,#2587BF,#1F75A5);
      background-image:    -moz-linear-gradient(top,#2587BF,#1F75A5);
      background-image:     -ms-linear-gradient(top,#2587BF,#1F75A5);
      background-image:      -o-linear-gradient(top,#2587BF,#1F75A5);
      background-image:         linear-gradient(top,#2587BF,#1F75A5);
      border: 1px solid #1F75A5;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 -1px 1px #000;
      font-size: 24px;
      font-weight: bold;
      color: #FFF;
    }
  }
}
.reportInfo {
  padding: 10px;
}
.event {
  overflow: hidden;
  margin-bottom: 20px;
  height: 480px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
          box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  .image {
    float: left;
    width: 720px;
    height: 480px;
    img {
      display: block;
    }
    .pin {
      width: 720px;
      height: 480px;
      img {
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
      }
    }
    .primary {
      float: left;
      width: 480px;
      height: 480px;
    }
    .secondary {
      float: right;
      width: 240px;
      height: 480px;
      img {
        &:first-child {
          -webkit-border-top-right-radius: 5px;
             -moz-border-top-right-radius: 5px;
                  border-top-right-radius: 5px;
        }
        &:last-child {
          -webkit-border-bottom-right-radius: 5px;
             -moz-border-bottom-right-radius: 5px;
                  border-bottom-right-radius: 5px;
        }
      }
    }
  }
  .info {
    float: right;
    padding: 10px;
    width: 244px;
    .card {
      margin-bottom: 10px;
      background: #F6F6F6;
      -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 1px 10px rgba(0,0,0,.2);
              box-shadow: 0 1px 10px rgba(0,0,0,.2);
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      z-index: 5;
      .avatar {
        float: left;
        width: 100px;
        height: 100px;
        img {
          -webkit-border-top-left-radius: 5px;
             -moz-border-top-left-radius: 5px;
                  border-top-left-radius: 5px;
        }
      }
      .meta {
        float: right;
        position: relative;
        padding: 10px;
        width: 124px;
        height: 80px;
        ul {
          li {
            margin-bottom: 3px;
            padding-left: 25px;
            height: 20px;
            line-height: 20px;
            font-size: 13px;
            &.report {
              background: url('../img/iconReport.png') no-repeat center left;
            }
            &.photo {
              background: url('../img/iconPhoto.png') no-repeat center left;
            }
          }
        }
      }
      .btn {
        position: absolute;
        display: inline-block;
        padding: 3px 0;
        bottom: 5px;
        width: 124px;
        line-height: 1.6;
        background-image: -webkit-linear-gradient(top,#EEE,#DDD);
        background-image:    -moz-linear-gradient(top,#EEE,#DDD);
        background-image:     -ms-linear-gradient(top,#EEE,#DDD);
        background-image:      -o-linear-gradient(top,#EEE,#DDD);
        background-image:         linear-gradient(top,#EEE,#DDD);
        border: 1px solid #DDD;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        text-align: center;
        text-shadow: 0 1px 0 #FFF;
        font-weight: bold;
        color: #222;
      }
      .username {
        clear: both;
        -webkit-border-bottom-left-radius: 5px;
           -moz-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
           -moz-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
        background-image: -webkit-linear-gradient(top,#ECECEC,#F9F9F9);
        background-image:    -moz-linear-gradient(top,#ECECEC,#F9F9F9);
        background-image:     -ms-linear-gradient(top,#ECECEC,#F9F9F9);
        background-image:      -o-linear-gradient(top,#ECECEC,#F9F9F9);
        background-image:         linear-gradient(top,#ECECEC,#F9F9F9);
        border-top: solid 1px #DFDFDF;
        h2 {
          font-size: 14px;
        }
        a {
          display: block;
          padding: 7px;
          text-decoration: none;
          color: #222;
        }
      }
    }
  }
}