#overlay {

}
#overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 110;
}
#overlay-popup {
  position: fixed;
  margin-left: -480px;
  top: 100px;
  left: 50%;
  width: 960px;
  height: 70%;
  background: #FFF;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.5);
     -moz-box-shadow: 0 3px 10px rgba(0,0,0,.5);
          box-shadow: 0 3px 10px rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  z-index: 111;
  .close {
    position: absolute;
    display: block;
    top: 7px;
    right: 7px;
    width: 21px;
    height: 21px;
    background: url('../img/close.png') 0 0 no-repeat;
    cursor: pointer;
    z-index: 112;
  }
}
.overlay-content {
  padding: 20px;
}