@charset "utf-8";

// =======================================================
// Body style
// =======================================================
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',"メイリオ", Meiryo,"ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 13px/1.6;
  color: $default-font-color;
}
// =======================================================
// Anchor style
// =======================================================
a {
  color: $default-link-color;
  &:link {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: underline;
    color: $default-visited-color;
  }
  &:hover {
    text-decoration: underline;
    color: $default-hover-color;
  }
  &:active {
    text-decoration: underline;
    color: $default-active-color;
  }
  &:focus {
    outline: 0;
  }
}
// =======================================================
// Element style
// =======================================================
h1,h2,h3,h4,h5,h6 {
  line-height: 1.6;
  font: {
    family: inherit;
    weight: bold;
  }
}
h1 {
  margin-bottom: 30px;
  font-size: fs(20, 'percent');
}
h2 {
  margin: 1.5em 0 .75em;
  font-size: fs(16, 'percent');
}
h3 {
  margin: 1em 0 .5em;
  font-size: fs(14, 'percent');
}
h4, h5, h6 {
  font-size: fs(13, 'percent');
}
h5 {
  color: #444;
}
h6 {
  color: #999;
}
p {
  margin: 0 0 1.2em;
  line-height: 1.6;
  font-size: fs(13, 'percent');
}
ul,ol {
  margin: 1.2em 0;
  padding-left: .2em;
}
ul {
  li {
    list-style: disc inside;
  }
  ul {
    margin: .2em 0;
    padding-left: 1em;
    li {
      list-style: square inside;
    }
  }
}
ol {
  li {
    list-style: decimal inside;
  }
}
dl {
  dt {
    font-weight: bold;
  }
  dd {
    padding-left: 1em;
  }
}
li,dt,dd {
  line-height: 1.6;
  font-size: fs(13, 'percent');
}