// =======================================================
// _variables.scss
//
// Copyright 2012 ReportShair
//
// @author  Tsuyoshi Tokuda
// =======================================================

// Default font size and color
$default-font-size: 13;
$default-font-color: #222222;

// Default link color
$default-link-color: #D7003E;
$default-visited-color: #96021A;
$default-hover-color: #D62F4C;
$default-active-color: #D62F4C;
