.panel {

}
a {
  color: #333;
}
body {
  position: relative;
  background: #EEE url('../img/body.png') repeat 0 0;
}
.container {
  position: relative;
  padding-top: 77px;
  z-index: 10;
}
.home .container {
  padding-top: 320px;
}
.headline {
  position: absolute;
  display: block;
  margin-left: -400px;
  top: 100px;
  left: 50%;
  z-index: 11;
}
.container .inner {
  margin: 0 auto;
  padding: 10px 12px 0;
  width: 1000px;
  background: rgba(255,255,255,.8);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  z-index: 10;
}
.content {
  float: left;
  width: 740px;
}
.contentHead {
  margin-bottom: 24px;
}
.contentHead h1,
.contentHead h2 {
  text-shadow: 0 -1px -1px rgba(255,255,255,.8);
  font-size: 32px;
  font-weight: bold;
}
.box {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 360px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
          box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.box.beta {
  margin-right: 0;
}
.box .image {
  width: 360px;
  height: 240px;
}
.box .image img {
  display: block;
}
.box .image .primary {
  float: left;
  width: 240px;
  height: 240px;
}
.box .image .primary img {
  -webkit-border-top-left-radius: 3px;
     -moz-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
}
.box .image .secondary {
  float: right;
  width: 120px;
  height: 240px;
}
.box .image .secondary img:first-child {
  -webkit-border-top-right-radius: 3px;
     -moz-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
}
.box .bar {
  padding: 7px;
}
.box .bar h2 {
  margin-bottom: 5px;
}
.reportHead {
  margin-bottom: 20px;
  width: 1000px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
          box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.reportHead .coverPhoto {
  overflow: hidden;
  width: 1000px;
  height: 420px;
  background-color: #EEE;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.reportHead .reportInfo {
  height: 120px;
}
.event {
  overflow: hidden;
  margin-bottom: 20px;
  width: 1000px;
  height: 480px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
          box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.event .image {
  float: left;
  width: 720px;
  height: 480px;
}
.event .image img {
  display: block;
}
.event .image .primary {
  float: left;
  width: 480px;
  height: 480px;
}
.event .image .primary img {
  -webkit-border-top-left-radius: 5px;
     -moz-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
     -moz-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
}
.event .image .pin {

}
.event .image .pin img {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.event .image .secondary {
  float: right;
  width: 240px;
  height: 480px;
}
.event .image .secondary img:first-child {
  -webkit-border-top-right-radius: 5px;
     -moz-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}
.event .image .secondary img:last-child {
  -webkit-border-bottom-right-radius: 5px;
     -moz-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
}
.event .info {
  float: right;
  padding: 10px 10px 10px 20px;
  width: 250px;
}
.sidebar {
  float: right;
  width: 240px;
}
.footer {
  position: relative;
  z-index: 10;
}
.footer .inner {
  margin: 10px auto 0;
  padding: 10px 0;
  width: 1024px;
  background: rgba(255,255,255,.9);
}