@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, b, i, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  display: block; }

audio, video, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

.clearfix {
  *zoom: 1;
  /* IE < 8 */ }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

body {
  background: #f7f7f7 url("../img/global/bodyBG.png") repeat 0 0; }

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  *zoom: 1; }
  .wrap:before, .wrap:after {
    display: table;
    content: ""; }
  .wrap:after {
    clear: both; }

.container {
  margin-bottom: 20px; }

/**
 * カバー写真にサイズを合わせるので横幅は851pxにする。
 * サイドバーが240pxなので、全体としては、851+240=1091pxで
 * 1091pxにマージンを29px確保して1120pxにする。
 */
.content {
  width: 851px; }

.sidebar {
  width: 240px; }

body.cs .content {
  float: left; }
body.cs .sidebar {
  float: right; }

body.sc .content {
  float: right; }
body.sc .sidebar {
  float: left; }

/* For Mobile portrait (iPhone3GS)
------------------------------------------------------- */
/* For Mobile landscape (iPhone3GS)
------------------------------------------------------- */
/* For Mobile portrait (iPhone4)
------------------------------------------------------- */
/* For Tablet (iPad portrait)
------------------------------------------------------- */
/* For Mobile
------------------------------------------------------- */
.content .contentHead {
  margin-bottom: 20px; }
.content .contentBody {
  margin-bottom: 20px; }
  .content .contentBody section {
    margin-bottom: 10px; }
    .content .contentBody section.hasTimeline, .content .contentBody section.timeline, .content .contentBody section:last-child {
      margin-bottom: 0; }

.contentHead h1, .contentHead h2 {
  margin: 0;
  padding: 0 7px; }

.widget {
  position: relative;
  margin-bottom: 10px;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15); }

.widgetHead {
  position: relative;
  padding: 7px 7px 6px;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -moz-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -o-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: linear-gradient(to bottom, #fefefe, #e4e4e4);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 1px #DDD;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2); }

.widgetFoot {
  padding: .3em .7em;
  border-top: solid 1px #EEE; }

.widgetHead h4 {
  line-height: 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: bold;
  color: #333; }

.widgetBody ul {
  margin: 0;
  padding-left: 0; }
  .widgetBody ul li {
    list-style: none; }

.widgetFoot a {
  text-decoration: none !important;
  font-size: 12px;
  color: #222; }
  .widgetFoot a:hover {
    text-decoration: none;
    color: #222; }
  .widgetFoot a:visited {
    text-decoration: none;
    color: #222; }

.label {
  position: absolute;
  padding: 2px 5px;
  line-height: 14px;
  background-color: #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-size: 77%;
  color: #FFF; }
  .widgetHead .label {
    top: 5px;
    right: 5px; }
  .widgetBody .label {
    top: 7px;
    right: 4px; }

.listWidget .widgetBody ul li {
  border-bottom: solid 1px #EEE; }
  .listWidget .widgetBody ul li a {
    display: block;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF; }
  .listWidget .widgetBody ul li:last-child {
    border-bottom: none; }

.userPanel {
  padding-bottom: 5px; }
  .userPanel .avatar {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px; }
  .userPanel .account {
    float: right;
    width: 130px; }
  .userPanel .username {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #EEE; }
  .userPanel .socialLink li {
    padding-bottom: 3px;
    height: 24px; }
    .userPanel .socialLink li a {
      display: block;
      padding: 4px 0 4px 30px !important;
      line-height: 20px !important;
      text-decoration: none;
      font-size: 12px; }
    .userPanel .socialLink li.facebook {
      background: url("/static/img/icon/facebook.png") no-repeat left center; }
    .userPanel .socialLink li.twitter {
      background: url("/static/img/icon/twitter.png") no-repeat left center; }
    .userPanel .socialLink li.website {
      background: url("/static/img/icon/website.png") no-repeat left center; }
    .userPanel .socialLink li:last-child {
      margin-bottom: 0; }

.profilePanel .widgetBody {
  padding: 5px; }

.articleList li a {
  padding: 3px 7px; }
.articleList li .date,
.articleList li .title {
  display: block; }
.articleList li .date {
  margin-bottom: .3em;
  font-size: 10px;
  color: #777; }
.articleList li .title {
  font-size: 11px;
  font-weight: bold; }

.avatarList {
  padding: 3px 0 0;
  *zoom: 1; }
  .avatarList:before, .avatarList:after {
    display: table;
    content: ""; }
  .avatarList:after {
    clear: both; }
  .avatarList li {
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px; }
    .avatarList li a {
      display: block;
      overflow: hidden;
      padding: 0;
      width: 32px;
      height: 32px; }

.categoryList li a {
  position: relative;
  padding: 3px 0 3px 36px;
  line-height: 26px;
  height: 26px; }
.categoryList .icon {
  position: absolute;
  overflow: hidden;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/categoryIcon.png");
  background-repeat: no-repeat; }
  .categoryList .icon.musicIcon {
    background-position: 0 0; }
  .categoryList .icon.studyIcon {
    background-position: 0 -24px; }
  .categoryList .icon.partyIcon {
    background-position: 0 -48px; }

html,
body {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',"メイリオ", Meiryo,"ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 13px/1.6;
  color: #222222; }

a {
  color: #d7003e; }
  a:link {
    text-decoration: underline; }
  a:visited {
    text-decoration: underline;
    color: #96021a; }
  a:hover {
    text-decoration: underline;
    color: #d62f4c; }
  a:active {
    text-decoration: underline;
    color: #d62f4c; }
  a:focus {
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  font-family: inherit;
  font-weight: bold; }

h1 {
  margin-bottom: 30px;
  font-size: 154%; }

h2 {
  margin: 1.5em 0 .75em;
  font-size: 124%; }

h3 {
  margin: 1em 0 .5em;
  font-size: 108%; }

h4, h5, h6 {
  font-size: 100%; }

h5 {
  color: #444; }

h6 {
  color: #999; }

p {
  margin: 0 0 1.2em;
  line-height: 1.6;
  font-size: 100%; }

ul, ol {
  margin: 1.2em 0;
  padding-left: .2em; }

ul li {
  list-style: disc inside; }
ul ul {
  margin: .2em 0;
  padding-left: 1em; }
  ul ul li {
    list-style: square inside; }

ol li {
  list-style: decimal inside; }

dl dt {
  font-weight: bold; }
dl dd {
  padding-left: 1em; }

li, dt, dd {
  line-height: 1.6;
  font-size: 100%; }

.header {
  margin-bottom: 50px;
  padding-top: 10px; }

.logo {
  float: left;
  display: inline-block;
  margin-right: 27px;
  margin-bottom: 0;
  width: 240px; }
  .logo a {
    display: block;
    overflow: hidden;
    width: 240px;
    height: 51px;
    background: url("/static/img/global/logo.png") no-repeat 0 0;
    text-indent: -1000em; }

.navs {
  float: left;
  display: inline-block; }
  .navs.pull {
    float: right; }

.mainNav,
.subNav {
  margin: 0; }

.nav {
  float: left;
  display: block;
  position: relative;
  height: 51px; }
  .nav > a {
    display: block;
    padding: 0 15px 0 0;
    line-height: 51px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 108%;
    font-weight: bold;
    color: #222; }
  .nav > ul {
    display: none;
    position: absolute;
    padding: 0;
    top: 48px;
    right: 0;
    background: #FFFFFF;
    border-left: solid 1px #EEEEEE;
    border-bottom: solid 1px #DDDDDD; }
    .nav > ul li {
      display: block; }
      .nav > ul li a {
        display: block;
        padding: 7px 15px;
        line-height: 20px;
        text-decoration: none;
        color: #222; }
        .nav > ul li a:hover {
          background-color: #222;
          color: #FFF; }
  .nav:hover > a {
    color: #d7003e; }
  .nav:hover.userNav > a {
    background-color: #FFF;
    border-bottom: solid 1px #EEEEEE;
    border-left: solid 1px #EEEEEE; }
  .nav:hover > ul {
    display: block;
    max-width: 300px;
    min-width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .nav.userNav {
    z-index: 10; }
    .nav.userNav > a {
      display: block;
      padding-left: 66px;
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 40px;
      border: solid 1px transparent;
      text-transform: none;
      font-weight: normal; }

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #E7E7E7; }

.footerNav {
  float: left;
  width: 851px; }

.copright {
  float: right;
  width: 240px; }

.footerNav > ul {
  margin: 0; }
  .footerNav > ul > li {
    display: inline;
    margin-right: .5em; }
    .footerNav > ul > li a {
      text-shadow: 0 1px 0 rbga(255, 255, 255, 0.8);
      font-size: 77%; }

.copright {
  float: right;
  margin: 0;
  text-shadow: 0 1px 0 rbga(255, 255, 255, 0.8);
  text-align: right; }
  .copright small {
    font-size: 77%; }

form {
  margin: 0 0 10px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #FFF;
  border: solid 1px #DDD; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus {
    border-color: rgba(0, 0, 0, 0.8);
    outline: 0;
    outline: thin dotted \9; }

button,
.button {
  display: inline-block;
  padding: 7px 24px;
  line-height: 18px;
  background-color: #0074CC;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9dde15), to(#3b9b0f));
  background-image: -webkit-linear-gradient(top, #9dde15, #3b9b0f);
  background-image: -moz-linear-gradient(top, #9dde15, #3b9b0f);
  background-image: -ms-linear-gradient(top, #9dde15, #3b9b0f);
  background-image: -o-linear-gradient(top, #9dde15, #3b9b0f);
  background-image: linear-gradient(top, #9dde15, #3b9b0f);
  background-repeat: repeat-x;
  border-color: #CCEE85 #CCEE85 #348E0A;
  border-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(59, 155, 15, 0.5);
  font-size: 108%;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  -webkit-appearance: button; }
  button:hover,
  .button:hover {
    background-color: rgba(0, 0, 0, 0.6); }

#overlayBG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 110; }
  #overlayBG.typeImage {
    background: rgba(0, 0, 0, 0.8); }

#overlayLoading {
  position: fixed;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: url("../img/overlay/loading.gif") no-repeat center;
  z-index: 111; }

#overlayContainer {
  position: fixed;
  overflow: hidden;
  margin-left: -480px;
  top: 90px;
  left: 50%;
  width: 960px;
  height: 75%;
  max-height: 75%;
  background: #FFF;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 112; }
  .selectDialog #overlayContainer {
    margin-left: -240px;
    top: 180px;
    width: 480px;
    height: 320px; }
  .createDialog #overlayContainer {
    height: 520px; }

#overlayHead {
  height: 36px;
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#cacaca));
  background-image: -webkit-linear-gradient(top, #efefef, #cacaca);
  background-image: -moz-linear-gradient(top, #efefef, #cacaca);
  background-image: -o-linear-gradient(top, #efefef, #cacaca);
  background-image: linear-gradient(to top, #efefef, #cacaca);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#CACACA');
  border-bottom: solid 1px #CCC; }
  #overlayHead h1, #overlayHead h2 {
    padding-left: 0.5em;
    line-height: 38px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
    color: #222; }

#overlayContent {
  overflow-x: hidden;
  overflow-y: auto; }

#overlayFoot {
  overflow: hidden;
  padding: 7px;
  height: 40px;
  background-color: #F1F1F1;
  border-top: solid 1px #DDD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#overlayPopup {
  position: fixed;
  margin-left: -480px;
  top: 100px;
  left: 50%;
  width: 960px;
  height: 70%;
  background: #FFF;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 112; }

.overlayContent {
  z-index: 113; }
  .overlayContent .overlayHead {
    padding: 0 28px 0 7px;
    height: 35px;
    border-bottom: solid 1px #EEE; }
    .overlayContent .overlayHead h2 {
      margin: 0;
      line-height: 35px;
      font-weight: bold; }
  .overlayContent .overlayBody {
    overflow: auto; }
  .overlayContent .overlayFoot {
    overflow: hidden;
    padding: 7px;
    height: 40px;
    background-color: #F1F1F1;
    border-top: solid 1px #DDD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.fbpageList {
  margin: 0;
  padding-left: 0; }
  .fbpageList li {
    list-style: none;
    border-top: solid 1px #DDD; }
    .fbpageList li span {
      display: block;
      padding: 5px 7px;
      text-decoration: none;
      transition: all 0.3s; }
      .fbpageList li span:hover {
        background-color: #222;
        color: #FFF; }

.overlayClose {
  position: absolute;
  display: block;
  top: 9px;
  right: 7px;
  width: 21px;
  height: 21px;
  background: url("/static/img/overlay/close.png") 0 0 no-repeat;
  cursor: pointer;
  z-index: 114; }

.captionForCreateReport {
  padding: 10px 16px;
  height: 100px;
  background-color: #111;
  border-bottom: solid 1px #EEE;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7); }
  .captionForCreateReport p {
    text-align: center;
    text-shadow: 0 0 24px #549EF9;
    font-size: 15px;
    font-weight: bold;
    color: #FFF; }

.selectButtonForCreateReport {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 162px;
  *zoom: 1; }
  .selectButtonForCreateReport:before, .selectButtonForCreateReport:after {
    display: table;
    content: ""; }
  .selectButtonForCreateReport:after {
    clear: both; }
  .selectButtonForCreateReport li {
    float: left;
    display: inline-block;
    width: 239px;
    text-align: center; }
    .selectButtonForCreateReport li a {
      display: block;
      padding-top: 122px;
      width: 239px;
      height: 40px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      font-size: 16px;
      font-weight: bold;
      color: #222; }
      .selectButtonForCreateReport li a:hover {
        background-color: #DDDDDD;
        color: #000; }
    .selectButtonForCreateReport li.newSelectButton {
      border-right: solid 1px #FFF; }
      .selectButtonForCreateReport li.newSelectButton a {
        background: #f1f1f1 url("/static/img/overlay/newSelectButton.png") 0 0 no-repeat; }
    .selectButtonForCreateReport li.fbSelectButton {
      border-left: solid 1px #E1E1E1; }
      .selectButtonForCreateReport li.fbSelectButton a {
        background: #f1f1f1 url("/static/img/overlay/fbSelectButton.png") 0 0 no-repeat; }

.fbpagesList {
  margin: 0;
  padding: 0; }
  .fbpagesList li {
    list-style-type: none;
    border-bottom: solid 1px #EEE; }
    .fbpagesList li a {
      display: block;
      padding: .7em 1em;
      line-height: 16px; }

.dialogReportBoard {
  height: 355px; }

.dialogCoverImage {
  position: relative;
  display: block;
  width: 960px;
  height: 355px; }
  .dialogCoverImage .dialogCoverWrap {
    position: absolute;
    top: 20px;
    left: 54px;
    width: 851px;
    height: 315px;
    background-color: #AAA; }
    .dialogCoverImage .dialogCoverWrap:hover {
      background-color: #BBB; }
  .dialogCoverImage #uploadCoverPhotoHandler {
    display: block;
    width: 851px;
    height: 315px;
    line-height: 315px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
    font-size: 36px;
    font-weight: bold;
    color: #444; }

.dialogReportInfo {
  position: relative;
  *zoom: 1; }
  .dialogReportInfo:before, .dialogReportInfo:after {
    display: table;
    content: ""; }
  .dialogReportInfo:after {
    clear: both; }
  .dialogReportInfo .dialogName {
    overflow: hidden;
    float: left; }
    .dialogReportInfo .dialogName .dialogReportThumb {
      position: absolute;
      margin-top: -130px;
      padding: 1px;
      left: 100px;
      width: 168px;
      height: 168px;
      background-color: #EEE;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3); }
      .dialogReportInfo .dialogName .dialogReportThumb:hover {
        background-color: #F1F1F1; }
      .dialogReportInfo .dialogName .dialogReportThumb .dialogReportImage {
        overflow: hidden;
        display: block;
        width: 160px;
        height: 160px;
        background: rgba(0, 0, 0, 0.3);
        border: solid 4px #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      .dialogReportInfo .dialogName .dialogReportThumb #uploadIconPhotoHandler {
        display: block;
        width: 160px;
        height: 160px;
        line-height: 160px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        font-size: 10px;
        color: #444; }
    .dialogReportInfo .dialogName .dialogReportName {
      margin: 0 0 0 290px;
      font-size: 20px; }

body.dialog {
  background-color: #FFF;
  background-image: none; }

#dialogIframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.visual {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px 0 40px;
  width: 100%;
  height: 500px;
  background-color: #333333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(black));
  background-image: -webkit-linear-gradient(top, #333333, black);
  background-image: -moz-linear-gradient(top, #333333, black);
  background-image: -ms-linear-gradient(top, #333333, black);
  background-image: -o-linear-gradient(top, #333333, black);
  background-image: linear-gradient(top, #333333, black);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7); }
  .visual .controller {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: -32px; }
    .visual .controller a {
      display: inline-block;
      margin-left: 5px;
      width: 10px;
      height: 10px;
      background-color: #CCC;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: border-color 250ms ease-in 0;
      -moz-transition: border-color 250ms ease-in 0;
      -o-transition: border-color 250ms ease-in 0;
      transition: border-color 250ms ease-in 0;
      cursor: pointer; }
      .visual .controller a.selected {
        background-color: #076BD2; }

.message {
  position: absolute;
  margin-left: -420px;
  top: 70px;
  left: 50%;
  width: 840px;
  z-index: 7; }
  .message .headline,
  .message .leadline {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
    color: #FFF; }
  .message .headline {
    margin: 0 0 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 55px;
    font-weight: 400; }
  .message .leadline {
    font-size: 18px; }

.carousel {
  position: relative;
  height: 500px; }

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; }
  .panel .panelBG {
    position: absolute;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.7); }
  .panel .panelBox {
    position: absolute;
    padding: 10px;
    left: 30px;
    bottom: 30px;
    width: 450px;
    background: rgba(255, 255, 255, 0.5); }
    .panel .panelBox h2 {
      margin: 0 0 20px;
      line-height: 38px;
      font-size: 38px;
      font-weight: bold; }

.tipsy {
  position: absolute;
  padding: 5px;
  font-size: 10px;
  z-index: 20; }

.tipsy-inner {
  padding: 5px 8px 4px 8px;
  max-width: 200px;
  background-color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #FFF; }

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000; }

.tipsy-arrow-n {
  border-bottom-color: #000; }

.tipsy-n .tipsy-arrow {
  margin-left: -5px;
  top: 0px;
  left: 50%;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.toolbar {
  margin-bottom: 20px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -moz-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: -o-linear-gradient(top, #fefefe, #e4e4e4);
  background-image: linear-gradient(to bottom, #fefefe, #e4e4e4);
  background-repeat: repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  z-index: 5; }
  .toolbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -ms-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
    .toolbar.fixed dl {
      margin-left: auto;
      margin-right: auto;
      width: 1120px; }
      .toolbar.fixed dl dt {
        text-indent: 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #FFF; }
      .toolbar.fixed dl dd a {
        background-color: transparent;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #CCC; }
        .toolbar.fixed dl dd a:hover {
          background-color: #333;
          -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
          color: #FFF; }
  .toolbar dl {
    *zoom: 1; }
    .toolbar dl:before, .toolbar dl:after {
      display: table;
      content: ""; }
    .toolbar dl:after {
      clear: both; }
    .toolbar dl dt {
      float: left;
      padding-right: 29px;
      width: 240px;
      line-height: 34px;
      text-indent: .5em;
      text-shadow: 0 1px 0 #FFF; }
    .toolbar dl dd {
      float: left;
      padding-left: 0; }
      .toolbar dl dd a {
        display: inline-block;
        padding: 5px 12px;
        line-height: 24px;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFF;
        font-size: 14px;
        color: #222;
        cursor: pointer; }
        .toolbar dl dd a:hover {
          color: #d7003e; }

.reports .container,
.reports .contentBody {
  margin-bottom: 0; }

.reportBoard {
  position: relative;
  margin-bottom: 10px;
  background-color: #FCFCFC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
  .reportBoard a {
    text-decoration: none; }

.coverWrap {
  position: relative;
  display: block;
  overflow: hidden;
  width: 851px;
  height: 315px; }

.reportHeadline {
  position: absolute;
  display: block;
  overflow: hidden;
  padding: 36px 0 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  background-repeat: repeat-x; }
  .reportHeadline .reportName {
    margin: 0 0 0 36px;
    line-height: 24px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    font-size: 16px;
    color: #FFF; }
  .reportHeadline .reportStats {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
    bottom: 12px;
    right: 7px; }
    .reportHeadline .reportStats li {
      float: left;
      display: inline-block;
      margin-left: 3px;
      padding: 3px 5px;
      list-style: none;
      background-color: #777777;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5b5c), to(#323232));
      background-image: -webkit-linear-gradient(top, #5e5b5c, #323232);
      background-image: -moz-linear-gradient(top, #5e5b5c, #323232);
      background-image: -ms-linear-gradient(top, #5e5b5c, #323232);
      background-image: -o-linear-gradient(top, #5e5b5c, #323232);
      background-image: linear-gradient(to bottom, #5e5b5c, #323232);
      background-repeat: repeat-x;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
      font-size: 11px;
      color: #FFF; }
  .reportHeadline .icon {
    position: absolute;
    overflow: hidden;
    bottom: 12px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/categoryIcon.png");
    background-repeat: no-repeat; }
    .reportHeadline .icon.musicIcon {
      background-position: 0 0; }
    .reportHeadline .icon.studyIcon {
      background-position: 0 -24px; }
    .reportHeadline .icon.partyIcon {
      background-position: 0 -48px; }

.reportInfo {
  position: relative;
  *zoom: 1; }
  .reportInfo:before, .reportInfo:after {
    display: table;
    content: ""; }
  .reportInfo:after {
    clear: both; }
  .reportInfo .name {
    overflow: hidden;
    float: left; }
    .reportInfo .name .reportThumb {
      position: absolute;
      margin-top: -110px;
      padding: 1px;
      left: 23px;
      width: 168px;
      height: 168px;
      background: rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      .reportInfo .name .reportThumb .reportImage {
        overflow: hidden;
        display: block;
        width: 160px;
        height: 160px;
        background: rgba(0, 0, 0, 0.3);
        border: solid 4px #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
    .reportInfo .name .reportName {
      margin: 16px 0 0 206px;
      font-size: 20px; }

.share {
  float: right;
  padding: 20px 7px 0 0; }
  .share .buttons {
    margin: 0;
    *zoom: 1; }
    .share .buttons:before, .share .buttons:after {
      display: table;
      content: ""; }
    .share .buttons:after {
      clear: both; }
    .share .buttons li {
      float: left;
      height: 21px;
      list-style: none; }
  .share .fb-like {
    position: relative;
    width: 80px;
    height: 21px; }
    .share .fb-like span {
      position: absolute;
      top: 0; }

.reportMeta {
  margin-top: 27px;
  padding-bottom: 12px;
  *zoom: 1; }
  .reportMeta:before, .reportMeta:after {
    display: table;
    content: ""; }
  .reportMeta:after {
    clear: both; }
  .reportMeta .about,
  .reportMeta .events,
  .reportMeta .photos,
  .reportMeta .wents {
    float: left;
    position: relative;
    display: block;
    margin-right: 7px;
    height: 80px;
    cursor: pointer; }
  .reportMeta .about {
    width: 455px;
    background: #F6F6F6;
    border-top: solid 1px #DDD;
    border-right: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .reportMeta .about p {
      margin: 0 0 5px;
      padding: 0 5px;
      font-size: 12px; }
  .reportMeta .events,
  .reportMeta .photos,
  .reportMeta .wents {
    width: 120px;
    border: solid 1px #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif; }
    .reportMeta .events .value,
    .reportMeta .photos .value,
    .reportMeta .wents .value {
      margin: 12px 0 4px;
      line-height: 36px;
      text-align: center;
      font-size: 36px;
      font-weight: bold; }
    .reportMeta .events .legend,
    .reportMeta .photos .legend,
    .reportMeta .wents .legend {
      margin: 0 0 7px;
      text-align: center;
      font-size: 12px;
      color: #777; }
    .reportMeta .events:hover,
    .reportMeta .photos:hover,
    .reportMeta .wents:hover {
      background-color: #F1F1F1;
      border-color: #CCC; }

.timeline {
  position: relative; }
  .timeline .line {
    position: absolute;
    left: 105px;
    width: 4px;
    height: 100%;
    background: #AAA; }
  .timeline .inner {
    padding: 20px 0; }

.unit {
  position: relative;
  margin-bottom: 10px;
  min-height: 30px;
  *zoom: 1; }
  .unit:before, .unit:after {
    display: table;
    content: ""; }
  .unit:after {
    clear: both; }
  .unit .spot {
    position: absolute;
    top: 19px;
    left: 100px;
    width: 8px;
    height: 8px;
    background: #222;
    border: solid 3px #F1F1F1;
    border-radius: 8px; }
  .unit .datetime {
    position: absolute;
    top: 15px;
    left: 0;
    width: 95px;
    text-align: right; }
    .unit .datetime .date,
    .unit .datetime .time,
    .unit .datetime .flag {
      margin: 0; }
    .unit .datetime .date {
      font-size: 13px;
      font-weight: bold; }
    .unit .datetime .time {
      font-size: 12px; }
    .unit .datetime .flag {
      display: inline-block;
      padding: .3em .5em;
      background: #777;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      font-size: 11px;
      font-weight: bold;
      color: #FFF; }
  .unit.currentTime .spot {
    top: 7px;
    background: #000; }
  .unit.currentTime .datetime {
    top: 0; }

.box {
  position: relative;
  margin-left: 131px;
  padding: 10px;
  background: #FFF;
  border: solid 1px #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border-color 250ms ease-in 0;
  -moz-transition: border-color 250ms ease-in 0;
  -o-transition: border-color 250ms ease-in 0;
  transition: border-color 250ms ease-in 0; }
  .box .headline {
    margin: 0 0 20px;
    border-bottom: solid 1px #EEE; }
    .box .headline h1 {
      margin: 0;
      line-height: 32px;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
      font-size: 21px;
      font-weight: bold;
      color: #222; }
  .box .boxFoot {
    padding: 3px 0 0;
    font-size: 11px;
    color: #999;
    *zoom: 1; }
    .box .boxFoot:before, .box .boxFoot:after {
      display: table;
      content: ""; }
    .box .boxFoot:after {
      clear: both; }
    .box .boxFoot .avatar,
    .box .boxFoot .date {
      display: inline-block;
      float: left; }
    .box .boxFoot .avatar {
      margin-right: 5px;
      width: 24px;
      height: 24px; }
    .box .boxFoot .date {
      margin: 0;
      line-height: 24px; }
  .box .boxArrow {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 15px;
    left: -10px;
    width: 0;
    height: 0;
    background: none;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: 0;
    border-right: solid 10px #DDD;
    -webkit-transition: border-color 250ms ease-in 0;
    -moz-transition: border-color 250ms ease-in 0;
    -o-transition: border-color 250ms ease-in 0;
    transition: border-color 250ms ease-in 0;
    z-index: -1; }
  .box .boxControll {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #EEE; }
  .box:hover {
    border-color: #AAA; }
    .box:hover .boxArrow {
      border-right: solid 10px #AAA; }
    .box:hover .boxControll {
      display: block; }

.infoBox,
.composeBox,
.photoBox,
.discussionBox,
.wentBox {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #CCC; }

.infoBox .infoBoxBody p, .infoBox .infoBoxBody li {
  font-size: 12px; }

.composeBox .composer {
  float: left;
  overflow: hidden;
  width: 50px;
  height: 50px; }
.composeBox .typeNav {
  position: relative;
  margin-left: 70px;
  background-color: #F1F1F1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(to top, #f6f6f6, #f1f1f1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
  border: solid 1px #E1E1E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
.composeBox .typeArrow {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 15px;
  left: -10px;
  width: 0;
  height: 0;
  background: none;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: 0;
  border-right: solid 10px #E1E1E1;
  -webkit-transition: border-color 250ms ease-in 0;
  -moz-transition: border-color 250ms ease-in 0;
  -o-transition: border-color 250ms ease-in 0;
  transition: border-color 250ms ease-in 0;
  z-index: 3; }
.composeBox .typeWrap {
  margin: 7px 0;
  padding-left: 0;
  *zoom: 1; }
  .composeBox .typeWrap:before, .composeBox .typeWrap:after {
    display: table;
    content: ""; }
  .composeBox .typeWrap:after {
    clear: both; }
  .composeBox .typeWrap li {
    display: inline-block;
    float: left;
    list-style: none;
    border-right: solid 1px #DDD;
    border-left: solid 1px #FFF; }
    .composeBox .typeWrap li a {
      position: relative;
      display: block;
      padding-top: 48px;
      width: 77px;
      height: 12px;
      line-height: 12px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 #FFF;
      font-size: 12px;
      color: #222; }
      .composeBox .typeWrap li a:hover {
        color: #d7003e; }
    .composeBox .typeWrap li:first-child {
      border-left: none; }
    .composeBox .typeWrap li:last-child {
      border-right: none; }
  .composeBox .typeWrap .typeIcon {
    position: absolute;
    top: 6px;
    left: 22px;
    width: 36px;
    height: 36px;
    background-image: url("../img/icon/typeIcon.png");
    background-repeat: no-repeat; }
    .composeBox .typeWrap .typeIcon.text {
      background-position: 0 0; }
    .composeBox .typeWrap .typeIcon.photo {
      background-position: -36px 0; }
    .composeBox .typeWrap .typeIcon.video {
      background-position: -72px 0; }
    .composeBox .typeWrap .typeIcon.file {
      background-position: -108px 0; }
    .composeBox .typeWrap .typeIcon.link {
      background-position: -144px 0; }

.photoBox .photoRow {
  *zoom: 1; }
  .photoBox .photoRow:before, .photoBox .photoRow:after {
    display: table;
    content: ""; }
  .photoBox .photoRow:after {
    clear: both; }
.photoBox .primary,
.photoBox .secondary,
.photoBox .pin,
.photoBox .horizontal {
  overflow: hidden;
  float: left; }
  .photoBox .primary img,
  .photoBox .secondary img,
  .photoBox .pin img,
  .photoBox .horizontal img {
    float: left;
    margin: 0; }
.photoBox .primary {
  width: 440px;
  height: 440px; }
.photoBox .secondary {
  width: 220px;
  height: 440px; }
.photoBox .pin {
  width: 660px;
  height: 440px; }
.photoBox .horizontal {
  width: 660px;
  height: 220px; }

.wentBox {
  *zoom: 1; }
  .wentBox:before, .wentBox:after {
    display: table;
    content: ""; }
  .wentBox:after {
    clear: both; }

.wentList,
.goingList {
  float: left;
  margin: 0;
  padding-left: 0;
  *zoom: 1; }
  .wentList:before, .wentList:after,
  .goingList:before,
  .goingList:after {
    display: table;
    content: ""; }
  .wentList:after,
  .goingList:after {
    clear: both; }
  .wentList li,
  .goingList li {
    display: inline-block;
    float: left;
    margin: 0 3px 3px 0;
    list-style: none; }
    .wentList li a,
    .goingList li a {
      display: block;
      height: 30px; }

.scrollToTopButton {
  position: fixed;
  margin-left: 1130px;
  padding: 7px 10px 18px;
  bottom: -10px;
  background-color: #F1F1F1;
  border-top: solid 1px #CCC;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  text-shadow: 0 1px 0 #FFF;
  font-size: 11px;
  z-index: 4;
  cursor: pointer; }
  .scrollToTopButton.offScreen {
    bottom: -100px;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms; }
  .scrollToTopButton:hover {
    bottom: -5px;
    background-color: #E1E1E1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
